# IMPORTANT - mac : docker.for.mac.localhost / win : host.docker.internal OR you can just type your host IP.
HOST_IP=host.docker.internal
APP_ENV=real

# You must type your exposed formal URL or IP such as https://test.com
# Please provide your URL in the following format: <--http or https-->://<--your-ip--> (Replace "your-ip" with your IP address or domain name. Make sure it is in the form of IPv4 or a domain and can be accessed externally. Specify whether it is an HTTP or HTTPS connection, e.g., http:// or https://)
APP_URL=

USE_COMMERCIAL_SSL=yyy
COMMERCIAL_SSL_NAME=yyy

DOCKER_LAYER_CORRUPTION_RECOVERY=false


NGINX_RESTART=false
CONSUL_RESTART=false

# The method of acquiring Docker images:
# build (Used in developer's local environment or during Jenkins builds when a new image needs to be built, so this module is typically used)
# registry (Used on deployment servers where images are fetched from a repository, so this module is used)
# If you choose the "build" method, you don't need to input the values below since Dockerfile is used (no image is fetched from the Docker registry).
GIT_IMAGE_LOAD_FROM=build
GIT_IMAGE_LOAD_FROM_HOSTNAME=yyy
GIT_IMAGE_LOAD_FROM_PATHNAME=yyy
GIT_TOKEN_IMAGE_LOAD_FROM_USERNAME=yyy
GIT_TOKEN_IMAGE_LOAD_FROM_PASSWORD=yyy

PROJECT_NAME=xxx
PROJECT_LOCATION=xxx
# [EXPOSE_PORT,APP_PORT]
# If you set PROJECT_PORT=[Number], EXPOSE_PORT,APP_PORT are all set to be [Number]
# Samples : PROJECT_PORT=[18200,8200], PROJECT_PORT=8200
PROJECT_PORT=xxx
# [Number],[Number]
# Currently, ADDITIONAL_PORTS for EXPOSE_PORT,APP_PORT should be the same value.
# Samples : ADDITIONAL_PORTS=5005,5006
ADDITIONAL_PORTS=8093

CONSUL_KEY_VALUE_STORE=http://consul:8500/v1/kv/deploy/xxx

# If you locate your project on ../ (upper folder)
HOST_ROOT_LOCATION=../
# If you locate your project's Dockerfile ../ (upper folder)
DOCKER_FILE_LOCATION=../

# This is for integrating health checkers "https://www.baeldung.com/spring-boot-actuators"
APP_HEALTH_CHECK_PATH=xxx
BAD_APP_HEALTH_CHECK_PATTERN=xxx
GOOD_APP_HEALTH_CHECK_PATTERN=xxx

# This is for environment variables for docker-compose-app-${app_env}.
DOCKER_COMPOSE_ENVIRONMENT={}
DOCKER_BUILD_ARGS={}
# This is overwritten on docker-compose-${project_name}-${app_env}.yml
DOCKER_COMPOSE_REAL_SELECTIVE_VOLUMES=[]
# This is added on docker-compose-${project_name}-nginx.yml
DOCKER_COMPOSE_NGINX_SELECTIVE_VOLUMES=["./shared/nginx-error-logs:/var/log/nginx"]
NGINX_CLIENT_MAX_BODY_SIZE=50M

# Format : docker-compose-${project_name}-${app_env}-original-ready.yml
USE_MY_OWN_APP_YML=false

SKIP_BUILDING_APP_IMAGE=false

ORCHESTRATION_TYPE=stack

ONLY_BUILDING_APP_IMAGE=true