# docker
/.docker/env/local/*
!/.docker/env/local/.gitkeep
/.docker/env/real/*
!/.docker/env/real/.gitkeep
/.docker/ssl/*
!/.docker/ssl/.gitkeep
/.docker/nginx/custom-files/*
!/.docker/nginx/custom-files/.gitkeep

/shared/app-error-logs/*
!/shared/app-error-logs/.gitkeep

/shared/nginx-error-logs/*
!/shared/nginx-error-logs/.gitkeep

/shared/system-logs/*
!/shared/system-logs/.gitkeep

.idea
/.env
/.env.ready.*

/docker-compose-*-nginx.yml
/docker-compose-*-local.yml
/docker-compose-*-real.yml
/docker-compose-*-ready.yml
/!docker-compose-app-local-original.yml
/!docker-compose-app-real-original.yml


/docker-stack-*-nginx.yml
/docker-stack-*-local.yml
/docker-stack-*-real.yml
/docker-stack-*-ready.yml
/!docker-stack-app-local-original-blue.yml
/!docker-stack-app-local-original-green.yml
/!docker-stack-app-real-original-blue.yml
/!docker-stack-app-real-original-green.yml

/!docker-compose-app-nginx-original.yml
/!docker-compose-consul.yml

/.docker/nginx/ctmpl/http/*
!/.docker/nginx/ctmpl/http/.gitkeep

/.docker/nginx/ctmpl/https/*
!/.docker/nginx/ctmpl/https/.gitkeep