# docker
/.docker/ssl/*
!/.docker/ssl/.gitkeep
/.docker/nginx/custom-files/*
!/.docker/nginx/custom-files/.gitkeep

/shared/app-error-logs/*
!/shared/app-error-logs/.gitkeep

/shared/nginx-error-logs/*
!/shared/nginx-error-logs/.gitkeep

/shared/system-logs/*
!/shared/system-logs/.gitkeep

/bin/*
!/bin/.gitkeep


**/.idea
/.env
/.env.ready.*

# misc
**/.DS_Store

/docker-compose-*-nginx.yml
/docker-compose-*-local.yml
/docker-compose-*-real.yml
/docker-compose-*-ready.yml
/!docker-compose-app-local-original.yml
/!docker-compose-app-real-original.yml


/docker-stack-*-nginx.yml
/docker-stack-*-local.yml
/docker-stack-*-real.yml
/docker-stack-*-ready.yml
/!docker-stack-app-local-original-blue.yml
/!docker-stack-app-local-original-green.yml
/!docker-stack-app-real-original-blue.yml
/!docker-stack-app-real-original-green.yml

/!docker-compose-app-nginx-original.yml
/!docker-compose-consul.yml

/.docker/nginx/template/ctmpl/http/*
!/.docker/nginx/template/ctmpl/http/.gitkeep

/.docker/nginx/template/ctmpl/https/*
!/.docker/nginx/template/ctmpl/https/.gitkeep

/.docker/nginx/template/logrotate/*
!/.docker/nginx/template/logrotate/.gitkeep

/.docker/nginx/template/nginx.conf.main

/.docker/nginx/origin/nginx.conf.main.origin.customized

/.docker/nginx/origin/conf.d/http/additionals/nginx.conf.ctmpl.origin.customized
/.docker/nginx/origin/conf.d/http/app/nginx.conf.ctmpl.origin.customized

/.docker/nginx/origin/conf.d/https/additionals/nginx.conf.ctmpl.origin.customized
/.docker/nginx/origin/conf.d/https/app/nginx.conf.ctmpl.origin.customized

