# docker
/.docker/ssl/*
!/.docker/ssl/.gitkeep
/.docker/nginx/custom-files/*
!/.docker/nginx/custom-files/.gitkeep

/shared/app-error-logs/*
!/shared/app-error-logs/.gitkeep

/shared/nginx-error-logs/*
!/shared/nginx-error-logs/.gitkeep

/shared/system-logs/*
!/shared/system-logs/.gitkeep

/bin/*
!/bin/.gitkeep


**/.idea
/.env
/.env.ready.*

# misc
**/.DS_Store

/docker-orchestration-*-nginx.yml
!/docker-orchestration-app-nginx-original.yml

/docker-compose-*.yml

/docker-compose-*-ready.yml
!/docker-compose-app-original.yml

/docker-stack-*.yml
/docker-stack-*-ready.yml
!/docker-stack-app-original-blue.yml
!/docker-stack-app-original-green.yml

/.docker/nginx/template/conf.d/http/*
!/.docker/nginx/template/conf.d/http/.gitkeep

/.docker/nginx/template/conf.d/https/*
!/.docker/nginx/template/conf.d/https/.gitkeep

/.docker/nginx/template/logrotate/*
!/.docker/nginx/template/logrotate/.gitkeep

/.docker/nginx/template/nginx.conf.main

/.docker/nginx/origin/nginx.conf.main.origin.customized

/.docker/nginx/origin/conf.d/http/additionals/nginx.conf.prepared.origin.customized
/.docker/nginx/origin/conf.d/http/app/nginx.conf.prepared.origin.customized

/.docker/nginx/origin/conf.d/https/additionals/nginx.conf.prepared.origin.customized
/.docker/nginx/origin/conf.d/https/app/nginx.conf.prepared.origin.customized

