version: '3'

services:
  mongodb:
    image: mongo:4.2.1-bionic
    tty: true
    stdin_open: true
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db
    networks:
      - node-network
volumes:
  dbdata:
networks:
  node-network:
    driver: bridge
